[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = git@github.com:ronco/yasnippet-snippets.git
[submodule "emacs-livedown"]
	path = emacs-livedown
	url = git@github.com:shime/emacs-livedown.git
